@use "../../assets/scss/variables" as *;

.card {
  margin: 5px 0;
  display: flex;
  border: 2px solid $color-black;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  align-items: center;
  border-radius: 8px;
  font-size: 1.1rem;
  &__checkbox {
    &:hover {
      cursor: pointer;
    }
  }

  &__delete {
    width: 20px;
    height: 20px;
    background-color: $color-white;
    border: 0;
    transition: 800ms ease;
    &:hover {
      transform: scale(1.5);
      cursor: pointer;
    }
  }
  &__image {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.card.line-through {
  .card__text {
    text-decoration: line-through;
  }
}
