@use "../../assets/scss/variables" as *;

.searchbar {
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__input {
    font-size: 1.1rem;
    border: 2px solid $color-black;
    border-right: 0;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    &:focus {
      outline: 0;
      border: 2px solid $color-blue;
      border-right: 0;
    }
  }
  &__btn {
    height: 40px;
    width: 40px;
    color: $color-white;
    background-color: $color-white;
    border: 2px solid $color-black;
    border-left: 0px solid $color-black;

    &--plus {
      background-color: $color-black;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      transition: 500ms ease;
      &:hover {
        transform: translateX(8px);
        cursor: pointer;
      }
    }
  }
}
